<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Books</title>
</head>
<body>
  <header>
    <%- include('./includes/nav.ejs', {token})%>
    <h1>Books</h1>
  </header>
  <main>
    <div class="books-container">
      <ul>
        <% books.forEach((book) => { %>
          <li>
            <div class="book-container">
              <p>Title: <%= book.title %></p>
              <p>Author: <%= book.author %></p>
              <p>Price: <%= book.price %></p>
              <img src="<%= book.img %>" alt="<%= book.title %>">
              <br>
              <a class="details-button" href="/api/books/<%= book.id %>">Details</a>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </main>
  
</body>
</html>